<launch>
   <node name="spacenav_node" pkg="spacenav_node" type="spacenav_node"/>
  <node name="amigo_teleop_spacenav" pkg="amigo_teleop_spacenav" type="spacenav_publisher" output="screen">
  
    <param name="minimum_movement" value="0.2"/>
  	<param name="joystick_range" value="0.68"/>
  	<param name="max_linear_speed_base" value="0.5"/>
  	<param name="max_angular_speed_base" value="0.8"/>
  	<param name="max_linear_speed_arms" value="0.1"/>
  	<param name="max_angular_speed_arms" value="0.2"/>
  
  </node>

</launch>

