<launch>

    <node name="spacenav_node" pkg="spacenav_node" type="spacenav_node"/>

    <node name="teleop_spacenav" pkg="tue_teleop_spacenav" type="spacenav_publisher" output="screen">
        <param name="minimum_movement" value="0.2"/>
        <param name="joystick_range" value="0.68"/>
        <param name="max_linear_speed_base" value="0.5"/>
        <param name="max_angular_speed_base" value="0.8"/>
        <param name="max_linear_speed_arms" value="0.1"/>
        <param name="max_angular_speed_arms" value="0.2"/>
        <param name="max_torso_speed" value="0.5"/>

        <remap from="/cmd_vel" to="/sergio/base/references"/>
        <remap from="/neck/references" to="/sergio/neck/references"/>
        <remap from="/torso/measurements" to="/sergio/torso/measurements"/>
        <remap from="/torso/references" to="/sergio/torso/references"/>
    </node>

</launch>
